.header {
  background: rgb(150, 1, 183);
  color: white;
  position: sticky; // Header sticky holatda bo'ladi
  top: 0; // Yuqoridan boshlanishi
  z-index: 1000; // Boshqa elementlardan ustun ko'rsatish

  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .select-region {
          h3 {
              margin: 0; // Margin olib tashlash
          }
      }

      .langs {
          select {
              border: none; /* Border olib tashlash */
              outline: none; /* Fokusda qalin chiziq ko'rinmasligi uchun */
              background: transparent; /* Orqa fonni shaffof qilish (agar kerak bo'lsa) */
              appearance: none; /* Brauzer standart uslublarini olib tashlash */
              padding: 10px; /* Select elementining ichki bo'shlig'ini oshirish uchun */
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              color: #fff; // White text
          }
      }
  }
}
