.menu-container {
  width: 100%;
  margin: 0 auto;
  .ass{
    // display: flex;
    overflow-x: auto; // Gorizontal scrollga imkoniyat yaratish
  }
  .restaurant_categories {
    display: flex;
    justify-content: flex-start; // Flex container bo'lib, boshlanish joyidan boshlaydi
    margin-top: -20px;
    overflow-x: auto; // X o'qi bo'yicha scroll qilish
    
    white-space: nowrap; // Kategoriyalar bir qatorda bo'lishi uchun
    padding: 10px 0; // Kategoriyalarning chetlari uchun
    background-color: #f0f0f0; // Background rang
    position: sticky; // Restaurant kategoriyalari ham sticky holatda bo'ladi
    top: 60px; // Header balandligidan biroz pastda
    z-index: 999; // Header ustida ko'rsatish
    bottom: 0;
    .category-item {
      padding: 10px 15px;
      background-color: gray;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 10px;
      font-size: 15px;
      margin-right: 10px;
      white-space: nowrap;
      &.active {
        background-color: rgb(150, 1, 183);
        color: white;
      }
    }
  }
  .category-section {
    margin-top: 30px; // Kategoriyalar orasidagi bo'shliq
  }
  .menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #fff;
    position: relative;

    .menu-item-img {
      max-width: 100px; // O'lchamni belgilash
      margin-right: 15px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      object-fit: cover;
    }

    .menu-item-info {
      flex: 1; // Qolgan joyni egallash

      p {
        margin: 0 !important;
        font-weight: 800;
        font-size: 18px;
      }
    }
  }
}
.menu-items {
  .menu-item {
    display: flex;
    align-items: stretch; /* Ikkala bo‘lim ham bir xil bo‘lishi uchun */
    margin-bottom: 7px;
    padding: 10px 10px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #fff;
    position: relative;

    .menu-item-img {
      max-width: 140px;
      width: 100%;
      height: 100px; /* Balansli bo'lishi uchun height auto */
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }

    .menu-item-info {
      flex: 1; /* Qolgan joyni egallash uchun */
      display: flex;
      flex-direction: column;
      justify-content: space-between; /* Elementlarni yuqoridan pastga taqsimlash */
      p {
        margin: 0 !important;
        font-weight: 700;
        font-size: 18px;
      }
      p:nth-child(1) {
        text-align: left;
      }
      p:nth-child(2) {
        text-align: end;
      }
    }
  }
}
