* {
  margin: 0;
  padding: 0;
}
.sm-wrapper {
  max-width: 400px;
  width: 100%;
  margin: auto;
  border-left: 1px solid #00000018;
  border-right: 1px solid #00000018;
  position: relative;
}
@media (max-width: 768px) {
  body{
    display: block !important;
  }
}
